{% extends 'base.html' %}

{% block body %}
<section class="vds-main">
	<div class="container">
        <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <td scope="col">نام</td>
                <td scope="col">سایز</td>
                <td scope="col">دانلود فایل</td>
                <td scope="col">حذف فایل</td>
            </tr>
            </thead>
            <tbody>
            {% for obj in objects %}
            <tr>
                <th scope="col">{{forloop.counter}}</th>
                <td scope="col">{{obj.key}}</td>
                <td scope="col">{{obj.size|filesizeformat}}</td>
                <td scope="col"><a href="{% url 'sitesetting:download_obj_bucket' obj.key %}">دانلود</a></td>
                <td scope="col"><a href="{% url 'sitesetting:delete_obj_bucket' obj.key %}">حذف</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table> 
        </div>
    </div>     
</section><!--vds-main end-->
{% endblock body %}