{% load static %}
<header>
    <div class="top_bar">
        <div class="container">
            <div class="top_header_content">
                <ul class="controls-lv d-rtl" style="">
                    <li>
                        <a href="#" title=""><i class="icon-message"></i></a>
                    </li>
                    <li>
                        <a href="#" title=""><i class="icon-notification"></i></a>
                    </li>
                    <li class="user-log">
                        <div class="user-ac-img">
                            {% if request.user.is_authenticated %}
                                {% if profile.image %}
                                <img src="{{profile.image.url}}" height='60px' width='61px'>
                                {% else %}
                                <img src="{% static 'images/resources/user-img.png' %}">
                                {% endif %}
                            {% else %}
                                <img src="{% static 'images/user-icon.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="account-menu">
                            <div class="sd_menu">
                                <ul class="mm_menu">
                                    <li>
                                        <span>
                                            <i class="icon-user"></i>
                                        </span>
                                        <a href="{% url 'youtube:upload_list' %}" title="">کانال من (ویژه ادیت)</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li>
                                        <span>
                                            <i class="icon-user"></i>
                                        </span>
                                        <a href="{% url 'youtube:channel_home_page' profile.id %}" title="">کانال من</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <span>
                                            <i class="icon-paid_sub"></i>
                                        </span>
                                        <a href="#" title="">اشتراک پولی</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="icon-settings"></i>
                                        </span>
                                        <a href="{% url 'account:complate' %}" title="">تنظیمات</a>
                                    </li>
                                    <li>
                                        {% if request.user.is_authenticated %}
                                        <span>
                                            <i class="icon-logout"></i>
                                        </span>
                                        <a href="{% url 'account:logout' %}" title="">خروج</a>
                                        {% else %}
                                        <a href="{% url 'account:login' %}" title="">ورود</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div><!--sd_menu end-->
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'youtube:upload_video' %}" title="" class="btn-default">آپلود</a>
                    </li>
                </ul><!--controls-lv end-->
                <div class="menu_logo d-rtl">
                    <a href="#" title="" class="menu">
                        <i class="icon-menu"></i>
                    </a>
                    <a href="/" title="" class="logo">
                        <img src="{{sitesetting.logo.url}}" alt="">
                    </a>
                </div><!--menu_logo end-->
                <div class="search_form d.rtl">
                    <form>
                        <input type="text" name="search" placeholder="جستجو ویدیو ... ">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div><!--search_form end-->
                <div class="clearfix"></div>

            </div><!--top_header_content end-->
        </div>
    </div><!--header_content end-->
    <div class="btm_bar">
        <div class="container">
            <div class="btm_bar_content">
                <nav>
                    <ul>
                        {% for navone in navones %}
                        <li><a href="{{navone.link}}" title="{{navone.name}}">{{navone.name}}</a>
                            <div class="mega-menu">
                                <ul class="d-rtl">
                                    {% for navtwo in navone.navtwo_set.all %}
                                    <li><a href="{{navtwo.link}}" title="{{navtwo.name}}">{{navtwo.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </nav><!--navigation end-->
                <div class="clearfix"></div>
            </div><!--btm_bar_content end-->
        </div>
    </div><!--btm_bar end-->
</header><!--header end-->