{% extends 'base.html' %}
{% load static %}
{% load video_tags %}
{% load video_tags %}

{% block body %}

<section class="ab-history">
	<div class="history-lst">
		<div class="container">
			<div class="history-hd-head">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
					<a class="nav-link active" id="watch_history_tab" href="{% url 'youtube:clear_watch_history' %}" role="tab" aria-controls="watch_history_tab" aria-selected="true">پاک کردن تاریخچه<i class="icon-cancel"></i></a>
					</li>
				</ul><!--nav-tabs end-->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="watch_history" role="tabpanel" aria-labelledby="watch_history_tab">
				<div class="tabs_lzt">
					{% for hit in hits %}
					<div class="tab-history">
						<div class="videoo">
							<div class="vid_thumbainl ms">
								<a href="{% url 'youtube:video_detail' hit.hitcount.hit_count_generic_relation.first.id %}">
									<img src="{{hit.hitcount.hit_count_generic_relation.first.thumbnail.url}}">
									<span class="vid-time">10:21</span>
									<span class="watch_later" data-videoid="{{hit.hitcount.hit_count_generic_relation.first.id}}">
										<i class="icon-watch_later_fill"></i>
									</span>
								</a>	
							</div><!--vid_thumbnail end-->
							<div class="video_info ms">
								<h3><a href="single_video_page.html" title="">{{hit.hitcount.hit_count_generic_relation.first.title}}</a></h3>
								<h4><a href="Single_Channel_Playlist.html" title="">{{hit.hitcount.hit_count_generic_relation.first.channel_name}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
								<span>{{hit.hitcount.hits}} بازدید .<small class="posted_dt">{{hit.created|history_video_days_passed}}</small></span>
							</div>
							<div class="clearfix"></div>
						</div><!--videoo end-->
					</div><!--tab-history end-->
					{% endfor %}
				</div><!--tabs_lz end-->
			</div>
		</div>
	</div>
</section><!--ab-history end-->	

{% endblock body %}
