{% extends 'base.html' %}
{% load static %}

{% block body %}

<section class="banner-section">
	<div class="container">
		<div class="banner-text">
			<p class="bold-titr">فیلم هایتان را با دوستان خود به اشتراک بگذارید</p>
			<a href="#" title="">ایجاد حساب کاربری</a>
		</div><!--banner-text end-->
		<h3 class="headline">ویدیو پربازدید امروز <a href="#" title="">فیلم سینمایی جومانجی</a></h3>
	</div>
</section><!--banner-section end-->

<section class="services-sec">
	<div class="container">
		<div class="services-row">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="service-col">
						<img src="{% static 'images/sv1.png' %}" alt="">
						<h3>کسب درآمد از بازدیدها</h3>
						<p>به ازای هر بازدید کسب درآمد کنید</p>
					</div><!--service-col end-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="service-col">
						<img src="{% static 'images/sv2.png' %}" alt="">
						<h3>افزایش دنبال کنندگان</h3>
						<p>به جامعه در حال رشد هزاره های جوان بپیوندید و طرفداران جدیدی پیدا کنید. </p>
					</div><!--service-col end-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="service-col">
						<img src="{% static 'images/sv3.png' %}" alt="">
						<h3>انتقال ساده از یوتیوب</h3>
						<p>فیلم های خود را از YouTube با یک کپی / چسباندن لینک آسان بارگذاری کنید.</p>
					</div><!--service-col end-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="service-col">
						<img src="{% static 'images/sv4.png' %}" alt="">
						<h3>کسب درآمد از دیجی کالا </h3>
						<p>درآمد اضافه از طریق بازاریابی محصولات در کانال شما</p>
					</div><!--service-col end-->
				</div>
			</div>
		</div><!--services-row end-->
	</div>
</section><!--services-sec end-->

<section class="vds-main">
	<div class="vidz-row">
		<div class="container">
			<div class="vidz_sec">
				<h3>ویدیو های جدید</h3>
				<div class="vidz_list">
					<div class="row">
						{% for video in latest_videos %}
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="{% url 'youtube:video_detail' video.id %}" title="{{video.category.name}}">
										<img src="{{video.thumbnail.url}}" alt="{{video.title}}">
										<span class="vid-time">{{video.video_time}}</span>
										<span class="watch_later" data-videoid='{{video.id}}'>
											<i class="icon-watch_later_fill"></i>
										</span>
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<h3><a href="{% url 'youtube:video_detail' video.id %}" title="{{video.title}}">{{video.title|truncatechars:35}}</a></h3>
									<h4><a href="#" title="مشاهده کانال">{{video.youtuber.channel_name}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>{{video.visited}} بازدید .<small class="posted_dt">{{video.days_passed}}</small></span>
								</div>
							</div><!--videoo end-->
						</div>
						{% endfor %}
					</div>
				</div><!--vidz_list end-->
			</div><!--vidz_videos end-->
		</div>
	</div><!--vidz-row end-->
	<div class="vidz-row">
		<div class="container">
			<div class="vidz_sec">
				<h3>کانال های محبوب</h3>
				<a href="#" title="" class="view-btn">نمایش همه</a>
				<div class="vidz_list">
					<div class="row">
						{% for channel in channels %}
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
							<div class="videoo">
								<div class="vcp_inf">
									<div class="vc_hd">
										<img src="{{channel.image.url}}" alt="">
									</div>
									<div class="vc_info">
										<h4><a href="{% url 'youtube:channel_home_page' channel.id %}" title="">{{channel.channel_name}}</a></h4>
									</div>
								</div>
							</div><!--videoo end-->
						</div>
						{% endfor %}
					</div>
				</div><!--vidz_list end-->
			</div><!--vidz_videos end-->
		</div>
	</div><!--vidz-row end-->
	<div class="vidz-row">
		<div class="container">
			<div class="vidz_sec">
				<h3>ویدیوهای محبوب</h3>
				<div class="vidz_list">
					<div class="row">
						{% for video in favorite_videos %}
						<div class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="{% url 'youtube:video_detail' video.id %}" title="{{video.category.name}}">
										<img src="{{video.thumbnail.url}}" alt="{{video.title}}">
										<span class="vid-time">{{video.video_time}}</span>
										<span class="watch_later" data-videoid='{{video.id}}'>
											<i class="icon-watch_later_fill"></i>
										</span>
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<h3><a href="{% url 'youtube:video_detail' video.id %}" title="{{video.title}}">{{video.title|truncatechars:35}}</a></h3>
									<h4><a href="#" title="مشاهده کانال">{{video.youtuber.channel_name}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>{{video.visited}} بازدید .<small class="posted_dt">{{video.days_passed}}</small></span>
								</div>
							</div><!--videoo end-->
						</div>
						{% endfor %}
					</div>
				</div><!--vidz_list end-->
			</div><!--vidz_videos end-->
		</div>
	</div><!--vidz-row end-->
	<div class="vidz-row pop_channels">
		<div class="container">
			<div class="vidz_sec">
				<h3>دسته بندی ها</h3>
				<div class="vidz_list">
					<div class="row">
						{% for category in categorys %}
						<div class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth">
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="#" title="{{category.name}}">
										<img src="{{category.image.url}}" alt="{{category.name}}">
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<h3><a href="#">{{category.name}}</a></h3>
									<span>{{category.video_set.all.count}} ویدیو</span>
								</div>
							</div><!--videoo end-->
						</div>
						{% endfor %}
					</div>
				</div><!--vidz_list end-->
			</div><!--vidz_videos end-->
		</div>
	</div><!--vidz-row end-->
</section><!--vds-main end-->

<section class="more_items_sec text-center">
	<div class="container">
		<a href="#" title="">
			<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.1618 24.0001H0.838235C0.374412 24.0001 0 23.6261 0 23.1628V5.86052C0 5.39727 0.374412 5.02332 0.838235 5.02332H18.1618C18.6256 5.02332 19 5.39727 19 5.86052V23.1628C19 23.6261 18.6256 24.0001 18.1618 24.0001ZM1.67647 22.3256H17.3235V6.69773H1.67647V22.3256Z" fill="#9494A0"/>
				<g opacity="0.25">
				<path opacity="0.25" d="M13.1324 4.18605C12.6685 4.18605 12.2941 3.81209 12.2941 3.34884V1.67442H6.70589V3.34884C6.70589 3.81209 6.33148 4.18605 5.86765 4.18605C5.40383 4.18605 5.02942 3.81209 5.02942 3.34884V0.83721C5.02942 0.373954 5.40383 0 5.86765 0H13.1324C13.5962 0 13.9706 0.373954 13.9706 0.83721V3.34884C13.9706 3.81209 13.5962 4.18605 13.1324 4.18605Z" fill="#9494A0"/>
				</g>
				<path d="M9.50001 19.3479C9.28487 19.3479 9.06972 19.267 8.90766 19.1024L5.92634 16.1275C5.59942 15.801 5.59942 15.2707 5.92634 14.9442C6.25325 14.6177 6.78413 14.6177 7.11104 14.9442L9.50001 17.3275L11.8862 14.9442C12.2131 14.6177 12.744 14.6177 13.0709 14.9442C13.3978 15.2707 13.3978 15.801 13.0709 16.1275L10.0924 19.1024C9.93031 19.267 9.71516 19.3479 9.50001 19.3479Z" fill="#9494A0"/>
				<path d="M9.49999 18.4186C9.03617 18.4186 8.66176 18.0447 8.66176 17.5814V10.3256C8.66176 9.86236 9.03617 9.4884 9.49999 9.4884C9.96382 9.4884 10.3382 9.86236 10.3382 10.3256V17.5814C10.3382 18.0447 9.96382 18.4186 9.49999 18.4186Z" fill="#9494A0"/>
				<g opacity="0.5">
				<path opacity="0.5" d="M15.6471 6.69764C15.1832 6.69764 14.8088 6.32369 14.8088 5.86043V4.18601H4.19118V5.86043C4.19118 6.32369 3.81677 6.69764 3.35294 6.69764C2.88912 6.69764 2.51471 6.32369 2.51471 5.86043V3.34881C2.51471 2.88555 2.88912 2.5116 3.35294 2.5116H15.6471C16.1109 2.5116 16.4853 2.88555 16.4853 3.34881V5.86043C16.4853 6.32369 16.1109 6.69764 15.6471 6.69764Z" fill="#9494A0"/>
				</g>
			</svg>
		</a>
	</div>
</section><!--more_items_sec end-->

{% endblock body %}

